<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Why email?</h4>
  <p>
    Email is short for 'electronic mail'. Similar to a letter, it is sent via
    the internet to a recipient. An email address is required to receive email,
    and that address is unique to the user. Some people use internet-based
    applications and some use programs on their computer to access and store
    emails.
  </p>
  <hr />
  <p class="mb-0">
    It's quick – your recipient receives your email as soon as they go online
    and collect their mail.
  </p>
</div>
<button class="btn btn-success" routerLink="/">OK</button>
